@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/
.butter-container { padding: 40px 0 0 0; }
.butter-container .wrapper {
  width: 22%;
  height: 85vh;
  border: 2px solid rgb(0,0,0);
  position: relative;
  background: url('/assets/images/bg.jpg') no-repeat;
  overflow: hidden;
}

.logo {
  top: 4%;
  left: 34%;
}

figure{
  width: 30%;
  position: absolute;
  /* left: -40%; */
}

.table {
  width: 100%;
  top: 88%;
  animation: table 1s ease;
}

@keyframes table {
  0% { opacity: 0; }
  100% { opacity: 100%; }
}

.plate{
  top: 90%;
  width: 80%;
  transform: translateX(-125%);
  animation: plate 6s ease-in-out 1.8s;
}

@keyframes plate {
  0% { transform: translateX(-125%); }
  30% { transform: translateX(0); }
  70% { transform: translateX(0); }
  100% { transform: translateX(-125%); }
}

h2,h3,h4 {
  width: 50%;
  position: absolute;
  top: 26%;
  left: 23%;
  color: rgb(251,0,0);
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}

.text1 {
  transform: translateX(-147%);
  animation: text1 7s cubic-bezier(0.36, 1.18, 0.99, 1) 2.9s;
}

@keyframes text1 {
  0% { transform: translateX(-147%); }
  30% { transform: translateX(0); }
  70% { transform: translateX(0); }
  100% { transform: translateX(-147%); }
}

.sadSonali {
  width: 69%;
  top: 47%;
  right: 0;
  transform: translateX(142%);
  animation: sad 7s cubic-bezier(0.36, 1.18, 0.99, 1) 2.7s;
}

@keyframes sad {
  0% { transform: translateX(142%); }
  30% { transform: translateX(0); }
  70% { transform: translateX(0); }
  100% { transform: translateX(142%); }
}

.text3,.text4,.chef,.getRecipe,.vegMayo,.hat{ display: none; }
.sandWich-plate {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 57%;
  transform: translateX(-63%);
  animation: secondPlate 19s ease 8s;
}

@keyframes secondPlate {
  0% { transform: translateX(-63%); }
  30% { transform: translateX(0%); }
  70% { transform: translateX(0%); }
  100% { transform: translateX(-63%); }
}

.sandwich-1 {
  width: 75%;
  top: 90%;
  right: 38%;
}
.sandwich-2 {
  width: 51%;
  top: 91%;
  right: 52%;
}
.sandwich-3 {
  width: 51%;
  z-index: 1;
  top: 88%;
  transform: translateY(0);
  right: 52%;
  animation: floatSandwich 5s ease 11s;
}
@keyframes floatSandwich {
  0% { transform: translateY(0); }
  70% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.mayo {
  width: 51%;
  top: 90%;
  right: 52%;
  opacity: 1;
  animation: mayo 7s ease 10s;
}

@keyframes mayo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.knife {
  width: 20%;
  top: 88%;
  right: 38%;
  z-index: 3;
  transform: translateX(-160%) rotate(301deg);
  opacity: 0;
  animation: knife 1s ease-in-out 14s; 
}

@keyframes knife {
  0% {
    transform: translateX(-160%) rotate(301deg);
    opacity: 1;
  }
  70% {
    transform: translateX(0) rotate(301deg);
  }
  100% {
    width: 25%;
    transform: translateX(-160%) rotate(301deg);
    opacity: 0;
  }
}

.text2 {
  transform: translateX(-170%);
  animation: text2 9s cubic-bezier(0.36, 1.18, 0.99, 1) 17s;
}

@keyframes text2 {
  0% { transform: translateX(-170%); }
  30% { transform: translateX(0); }
  70% { transform: translateX(0); }
  100% { transform: translateX(-170%); }
}

.happySonali {
  width: 69%;
  top: 47%;
  right: 0;
  transform: translateX(142%);
  animation: happy 9s cubic-bezier(0.36, 1.18, 0.99, 1) 17s;
}

@keyframes happy {
  0% { transform: translateX(142%); } 
  30% { transform: translateX(0); }
  70% { transform: translateX(0); }
  100% { transform: translateX(142%); }
}

/*=================================
  main styling ends here
=================================*/  